/* Selector de etiqueta */
body{
    background-color: black;
    color: white;
}

/* Selector de clase */
.lista-roja{
    background-color: red;
}

/* Selector de ID */
#bienvenida{
    background-color: blue;
}

h1{
    background-color: purple;
    width: 250px;
    height: 250px;
}