/* Hoja de estilos */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
    font-family: "Inter", san-serif;
    font-family: "Montserrat", san-serif;
    
*/
/* Variables para los colores */
:root {
    /* Esquema de colores */
    --clr-primary: hsl(208, 100%, 7%);
    --clr-primary-75: hsl(208, 100%, 7%, 0.75);
    --clr-secondary: hsl(208, 100%, 75%);
    --clr-neutral: hsl(208, 100%, 95%);
    --clr-accent-35: hsl(286, 100%, 35%);
    --clr-accent-65: hsl(286, 100%, 65%);
    --clr-accent-85: hsl(286, 100%, 85%);
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Estilos generales para el Body */
body {
    background-color: var(--clr-neutral);
    color: var(--clr-primary);
    margin: 0;
}

/* Titulares */
h1 {
    margin: 0;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}

/* Estilos del Header */
header {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
    padding: 2rem;

    text-align: center;
}

/* Estilos del main */
main {
    padding: 2rem 1rem;
}

/* Estilos para las secciones */
section {
    width: min(62rem, 100%);
    margin: 0 auto;
    padding: 2rem 0;
}


/* Clase 3 / modelo de caja */
.box-model {
    border: 2px solid var(--clr-primary); /* Borde del elemento */
    padding: 16px; /* Margen interno */
    
    margin: 16px auto; /* top y bottom / right y left */

    border-radius: 16px;

    width: 550px; /* Ancho */
}


/* Clase 4 */

/* Estilos para la sección bienvenida */
#bienvenida {
    background-image: url('../img/bienvenida.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 32rem;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#bienvenida > h1 {
    background-color: var(--clr-primary-75);
    color: var(--clr-neutral);
    padding: 2rem 1rem;
}

img {
    width: 100%;
}

/* Links */
/* Link / Visited */
header a {
    margin: 1rem;
}

header a:link,
header a:visited {
    color: var(--clr-neutral);
    text-decoration: none;
}

/* Hover  / Active*/
header a:hover,
header a:active {
    color: var(--clr-accent-65);
}

/* Clase para los links del Main */
main a:link, 
main a:visited {
    color: hsl(286, 100%, 35%);
    text-decoration: none;
}

main a:hover,
main a:active {
    color: hsl(286, 100%, 65%);
}

/* Estilos para el Footer del documento */
footer {
    background-color: hsl(208, 100%, 8%);
    color: hsl(208, 100%, 94%);
    padding: 2rem;
}

footer h1 {
    font-size: 1rem;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;


    display: flex;
    gap: 1rem;
    align-items: center;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: min(62rem, 100%);
    margin: 0 auto;
}

.sobre-nosotros {
    display: flex;
    gap: 1rem;
}

.contacto img {
    width: 2rem;
}

/* Clase para los links del Footer */
a.footer:link,
a.footer:visited {
    text-decoration: none;
    color: hsl(286, 100%, 65%);
}

a.footer:hover,
a.footer:active {
    color: hsl(286, 100%, 85%);
}

/* Clase 5 */
.contenedor-flex {
    background-color: var(--clr-secondary);

    display: flex; /* Esto activa el display flex en el contenedor */

    flex-direction: row; /* Controla la dirección del eje principal */

    justify-content: flex-start; /* Controla el eje principal */
    align-items: stretch; /* Controla el eje secundario */

    gap: 2rem;
    padding: 2rem;

    flex-wrap: wrap;
}

.item {
    border: 0.2rem solid var(--clr-primary);
    width: 5rem;
    height: 5rem;
}

/* Ejercicio novedades */

.contenedor-novedades {
    display: flex;

    gap: 1rem;
    justify-content: space-between;
    padding: 2rem 0;
}

article {
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5rem;
}

article h2,
article h3 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

article h3 {
    font-weight: 400;
}

.contenedor-btn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

a.btn-outline:link,
a.btn-outline:visited,
a.btn-fill:link,
a.btn-fill:visited {
    text-decoration: none;
    text-align: center;
    border: 0.1rem solid var(--clr-primary);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

a.btn-outline:hover,
a.btn-outline:active {
    background-color: var(--clr-primary);
    color: var(--clr-accent-65);
}

a.btn-fill:link,
a.btn-fill:visited {
    background-color: var(--clr-primary);
    color: var(--clr-accent-65);
}

a.btn-fill:hover,
a.btn-fill:active {
    background-color: var(--clr-accent-65);
    color: var(--clr-primary);
}

/* Desafíos M1 */
.estilo-1 {
    font-weight: 600;
}

.estilo-2 {
    font-weight: 600;
    color: var(--clr-accent-65);
    background-color: var(--clr-primary);
    padding: 0.5rem;
}

/* Clase 7 Formularios */

form {
    border: 0.1rem solid var(--clr-primary);
    width: 24rem;
    margin: 1rem auto 2rem; /* top / left y right / bottom */
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Distancia entre elementos en un contenedor con flex */
}

form h2 {
    text-align: center;
}

/* .estado {
    display: flex;
    justify-content: flex-end;
}
*/

form span {
    text-align:right;
} 

/* Clase 8 */
input,
select,
textarea,
button {
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--clr-primary);
    border-radius: 0.5rem;
}

input:focus,
select:focus,
textarea:focus {
    /*outline: 0.1rem solid var(--clr-accent-65);
    outline-offset: -0.1rem; */
    outline: none;
    border: 0.1rem solid var(--clr-accent-65);
}

textarea {
    min-height: 12rem;
}

button {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
}

button:hover {
    background-color: var(--clr-accent-65);
    color: var(--clr-primary);
    cursor: pointer;
}

/* Tablas */

table {
    border: 0.1rem solid var(--clr-primary);
    width: 100%; /* Toma el 100% del ancho de la sección*/
    border-collapse: collapse;
    text-align: center;
}

table img {
    width: 7rem;
}

caption {
    font-size: 2rem;
    padding: 1rem 0;
}

/*  tr, table row (fila de la tabla)
    th, table header (encabezado de las columnas)
    td, table data (celdas comunes)    
*/
th {
    padding: 1rem;
}

th, 
td {
    border: 0.1rem solid var(--clr-primary);
}

/* first-of-type (primer elemento de su tipo) */
table tr:first-of-type {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
}

tr:hover {
    background-color: var(--clr-secondary);
}

/* iframe Mapa */
.mapa {
    width: 100%;
    height: 32rem;
    border: none;
}

video {
    width: 100%;
}

/* Clase 9 */
/* Ejercicio producto */
.contenedor-producto * {
    font-family: "Montserrat", sans-serif;
}

.contenedor-producto {
    display: flex;
    gap: 1rem;
    background-color: hsl(231, 13%, 11%);
    color: hsl(55, 55%, 91%);
    padding: 8rem 2rem;
}

.producto-izq {
    width: 24rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.producto-izq img {
    width: auto;
}

.producto-der {
    width: 40rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.producto-der ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 0.5rem;
}

.producto-der h1 {
    text-align: left;
}

.producto-der p {
    line-height: 1.6;
}

a.prod-categorias:link,
a.prod-categorias:visited {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: hsl(231, 100%, 85%);
    color: hsl(231, 13%, 11%);
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
}
a.prod-categorias:hover,
a.prod-categorias:active {
    background-color: var(--clr-accent-65);
}

a.btn-comprar:link,
a.btn-comprar:visited {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    background-color: hsl(231, 100%, 85%);
    color: hsl(231, 13%, 11%);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}
a.btn-comprar:hover,
a.btn-comprar:active {
    background-color: var(--clr-accent-65);
}