/* Hoja de estilos */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
    font-family: "Inter", san-serif;
    font-family: "Montserrat", san-serif;
    
*/
/* Variables para los colores */
:root {
    /* Esquema de colores */
    --clr-primary: hsl(208, 100%, 7%);
    --clr-primary-75: hsl(208, 100%, 7%, 0.75);
    --clr-secondary: hsl(208, 100%, 75%);
    --clr-neutral: hsl(208, 100%, 95%);
    --clr-accent-35: hsl(286, 100%, 35%);
    --clr-accent-65: hsl(286, 100%, 65%);
    --clr-accent-85: hsl(286, 100%, 85%);
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Estilos generales para el Body */
body {
    background-color: var(--clr-neutral);
    color: var(--clr-primary);
    margin: 0;
}

/* Titulares */
h1 {
    margin: 0;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}

/* Estilos del Header */
header {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
    padding: 2rem;

    text-align: center;
}

header a {
    margin: 1rem;
}

/* Estilos del main */
main {
    padding: 2rem 1rem;
}

/* Estilos para las secciones */
section {
    width: min(62rem, 100%);
    margin: 0 auto;
    padding: 2rem 0;
}


/* Clase 3 / modelo de caja */
.box-model {
    border: 2px solid var(--clr-primary); /* Borde del elemento */
    padding: 16px; /* Margen interno */
    
    margin: 16px auto; /* top y bottom / right y left */

    border-radius: 16px;

    width: 550px; /* Ancho */
}

/* Clase 4 */

/* Estilos para la sección bienvenida */
#bienvenida {
    background-image: url('../img/bienvenida.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 32rem;
    padding: 0;
}

#bienvenida > h1 {
    background-color: var(--clr-primary-75);
    color: var(--clr-neutral);
    padding: 2rem 1rem;
}

img {
    width: 100%;
}

/* Links */
/* Link / Visited */
header a:link,
header a:visited {
    color: var(--clr-neutral);
    text-decoration: none;
}

/* Hover  / Active*/
header a:hover,
header a:active {
    color: var(--clr-accent-65);
}

